body {
    margin-top: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('darkback.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; 
    margin-top: 0px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.main-content {

    margin-left: 270px;
    margin-top: 150px;
    padding: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.profile {
    position: absolute; 
    top: 20px;
    right: 20px; 
    padding: 10px 20px; 
    background-color: #007BFF; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.profile:hover {
    background-color: #0056b3;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.images img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container {
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center; 
}

.login-container h2 {
    margin: 20px 0; 
}

.login-container label {
    margin: 10px 0 5px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.login-container button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.menu-item {
    background-color: #b17fb3;
    height: 10px;
    width: 150px;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}